<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>ClientGestionAnnuaire</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>listeCategorie.html</welcome-file>
		<welcome-file>listeCategorie.htm</welcome-file>
		<welcome-file>listeCategorie.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>listeCategorie</servlet-name>
		<servlet-class>servlets.listeCategorie</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>listeCategorie</servlet-name>
		<url-pattern>/listeCategorie</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>creerCategorie</servlet-name>
		<servlet-class>servlets.creerCategorie</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>creerCategorie</servlet-name>
		<url-pattern>/creerCategorie</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>supprimerCategorie</servlet-name>
		<servlet-class>servlets.supprimerCategorie</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>supprimerCategorie</servlet-name>
		<url-pattern>/supprimerCategorie</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>modifierCategorie</servlet-name>
		<servlet-class>servlets.modifierCategorie</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>modifierCategorie</servlet-name>
		<url-pattern>/modifierCategorie</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>listeAnnonce</servlet-name>
		<servlet-class>servlets.listeAnnonce</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>listeAnnonce</servlet-name>
		<url-pattern>/listeAnnonce</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>modifierAnnonce</servlet-name>
		<servlet-class>servlets.modifierAnnonce</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>modifierAnnonce</servlet-name>
		<url-pattern>/modifierAnnonce</url-pattern>
	</servlet-mapping>

</web-app>